<head>
  <style>
      body{
          background: cyan;
      }
  </style>
</head>
<div class="cart_mes">
  Ваша корзина
  <div>
  Номера ваших заказов:
  <% @order.each do |order| %>
    <%= order.id %>
  <% end %>
  </div>
</div>
<div>
  <%= form_with url: "/cart", action: clear, method: :get do |form| %>
    <%= form.submit "Очистить корзину" %>
  <% end %>
</div>
