<head>
  <style>
    body{
        background: cyan;
    }
  </style>
</head>
<div class="cart">
  <%= link_to "Моя корзина", "cart" %>
</div>
<div class="list">
  Список категорий:
</div>
<div class="category-container">
  <% @categories.each do |category| %>
    <%= render partial: 'category', object: category  %>
  <% end %>
</div>
<div>
  <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
  <script type="text/javascript">
      var map;
      DG.then(function () {
          map = DG.map('map', {
              center: [47.21667476212807, 39.62888766716547],
              zoom: 14
          });
          DG.marker([47.21667476212807, 39.62888766716547]).addTo(map).bindPopup('');
      });
  </script>
</div>
<body>
<div id="map" style="width:500px; height:400px"></div>
</body>