.category_proj{
    font-size: 28px;
    color: blueviolet;
    margin-left: 30px;
    margin-top: 20px;
}

.product{
    font-size: 20px;
    color: black;
    border: black solid 1px;
    padding: 6px;
    background: deepskyblue;
}

.product:hover{
    background: aqua;
}

.product-container{
    displey: flex;
    width: 500px;
    margin: 20px;
}